In [ ]:
# class/object
# constructor
# Inheritance
# Polymorphism
# Encapsulation -- Public,Private,Protected
# Abstract class

In [ ]:
# Hospital Management
from abc import ABC, abstractmethod
class Person(ABC):  # abstract
  def __init__(self, name, age):
    self.name = name
    self.age = age

  @abstractmethod
  def show_details(self):
    pass

class Patient(Person):  # inheritance
  def __init__(self,name,age,history):
    super().__init__(name,age)
    self.__history = history  # private __

  def show_details(self): # polymorphism
    print(f"Patient: {self.name}, Age: {self.age}, History: {self.__history}")

  def get_history(self):
    return self.__history

class Doctor(Person):
    def __init__(self,name,age,specialization):
      super().__init__(name,age)
      self.specialization = specialization # public

    def show_details(self):
      print(f"Dr. {self.name}, Specialization in {self.specialization}")

# surgeon (child) for Doctor create show_details() --> skillset

class Surgeon(Doctor):
  def __init__(self,name,age,specialization,skillset):
    super().__init__(name,age,specialization)
    self.skillset = skillset

  def show_details(self):
    print(f"Dr. {self.name}, Specialization in {self.specialization}, Skillset: {self.skillset}")

class Appointment:
  def __init__(self,doctor,patient):
    self.d = doctor
    self.p = patient

  def confirm(self):
    print(f"Appointment booked with Dr. {self.d.name} for {self.p.name}")

In [ ]:
p1 = Patient("Alice",30,"Covid")
d1 = Doctor("Vijay",45,"General")

p1.show_details()

Patient: Alice, Age: 30, History: Covid

In [ ]:
d1.show_details()

Dr. Vijay, Specialization in General

In [ ]:
a = Appointment(d1,p1)
a.confirm()

Appointment booked with Dr. Vijay for Alice

In [ ]:
p2 = Patient("Manoj",29,"Diabetes")
a1 = Appointment(d1,p2)
a1.confirm()

Appointment booked with Dr. Vijay for Manoj

In [ ]:
d2 = Doctor("Sunil",35,"Diabetes")
a1 = Appointment(d2,p2)

In [ ]:
a1.confirm()

Appointment booked with Dr. Sunil for Manoj

In [ ]:
class Surgeon(Doctor):
  def __init__(self,name,age,specialization,skillset):
    super().__init__(name,age,specialization)
    self.skillset = skillset

  def show_details(self):
    print(f"Dr. {self.name}, Specialization in {self.specialization}, Skillset: {self.skillset}")

In [ ]:
s = Surgeon("Nithya",36,"Cardiologist","cardiology")
s.show_details()

Dr. Nithya, Specialization in Cardiologist, Skillset: cardiology

In [ ]:
# mysql-connector-python
# boto3

In [ ]:
# Database Connect

# sql -> MySql, Oracle, SQL Server, Cloud RDS, Azure SQl, sqlite --> Table
# Nosql -> MongoDB --> config URI --> pymongo --> Dictionary

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
# magic command --> you can run sql query directly
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
CREATE Table mytable(id int, name varchar(20));

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
import sqlite3

# Create Table

In [ ]:
conn = sqlite3.connect('mydatabase.db')
cur = conn.cursor()
# schema ---> table format/structure
sql = '''DROP TABLE employees'''
cur.execute('''
CREATE TABLE IF NOT EXIST employees(
  id Integer Primary Key AUTOINCREMENT,
  ename Text NOT NULL,
  department TEXT,
  salary REAL,
  joining_date TEXT
)''')
print("Table employee created")

Table employee created

# Insert Table

In [ ]:
sql = '''
INSERT INTO employees (ename, department, salary, joining_date)
VALUES (?,?,?,?)'''

cur.execute(sql,('Anitha','HR',30000,'2025-01-15'))

conn.commit()
print("One Record Inserted")

One Record Inserted

In [ ]:
data = [
    ('Cheran','Finance',50000,'2019-11-14'),
    ('David','IT',52000,'2022-05-23'),
    ('Guna','HR',45000,'2021-06-15')
]

cur.executemany(sql,data)
conn.commit()
print("Many Records Inserted")

Many Records Inserted

# SELECT --> Reading or Filtering the Data

In [ ]:
sql = '''
  SELECT * FROM employees
  '''
cur.execute(sql)
rows = cur.fetchall()
for r in rows:
  print(r)

(1, 'Anitha', 'HR', 30000.0, '2025-01-15')
(2, 'Cheran', 'Finance', 50000.0, '2019-11-14')
(3, 'David', 'IT', 52000.0, '2022-05-23')
(4, 'Guna', 'HR', 45000.0, '2021-06-15')

In [ ]:
sql = '''
  SELECT * FROM employees WHERE department = 'HR'
  '''
cur.execute(sql)
rows = cur.fetchall()
for r in rows:
  print(r)

(1, 'Anitha', 'HR', 33000.0, '2025-01-15')
(4, 'Guna', 'HR', 48000.0, '2021-06-15')

In [ ]:
sql = '''
  SELECT * FROM employees ORDER BY salary DESC
  '''
cur.execute(sql)
rows = cur.fetchall()
for r in rows:
  print(r)

(3, 'David', 'IT', 52000.0, '2022-05-23')
(2, 'Cheran', 'Finance', 50000.0, '2019-11-14')
(4, 'Guna', 'HR', 45000.0, '2021-06-15')
(1, 'Anitha', 'HR', 30000.0, '2025-01-15')

In [ ]:
sql = '''
  SELECT count(*) FROM employees
  '''
cur.execute(sql)
print("Total employees:",cur.fetchone()[0])

Total employees: 4

In [ ]:
cur.execute('''
SELECT department, AVG(salary)
FROM employees
GROUP BY department
''')
cur.fetchall()

[('Finance', 50000.0), ('HR', 37500.0), ('IT', 52000.0)]

# CRUD - Update

In [ ]:
sql = '''
UPDATE employees
SET salary = salary+3000
WHERE department = 'HR'
'''
cur.execute(sql)
conn.commit()
print("Updated the salary for HR Dept")

Updated the salary for HR Dept

# DELETE

In [ ]:
sql = '''DELETE FROM employees WHERE salary > 50000'''
cur.execute(sql)
conn.commit()
print("Deleted successfully")

Deleted successfully

| Feature             | SQLite Python Function Used        |
| ------------------- | ---------------------------------- |
| Connect to DB       | `sqlite3.connect()`                |
| Create table        | `cursor.execute()`                 |
| Insert data         | `cursor.execute() / executemany()` |
| Select / Read       | `cursor.fetchall()`                |
| Filtering / Sorting | SQL with `WHERE`, `ORDER BY`       |
| Aggregation         | `COUNT()`, `AVG()`                 |
| Update & Delete     | `UPDATE`, `DELETE`                 |
| Pandas integration  | `pd.read_sql_query()`              |

In [ ]:
# ORM --> Object Relational Mapping

In [ ]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.0)

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import declarative_base, sessionmaker

engine = create_engine('sqlite:///mydatabase.db')
Base = declarative_base()

class Employee(Base):
  __tablename__ = 'employees'
  id = Column(Integer, primary_key=True)
  ename = Column(String)
  department = Column(String)
  salary = Column(Float)
  joining_date = Column(String)

  def __str__(self):
    return f"Employee(name='{self.ename}', department='{self.department}', salary={self.salary}, joining_date='{self.joining_date}')"

Base.metadata.create_all(engine)

In [ ]:
Session = sessionmaker(bind=engine)
ses = Session()

emp1 = Employee(ename='Sanjay',department='IT',salary=40000,joining_date='2020-01-15')
ses.add(emp1)  # INSERT INTO
ses.commit()

In [ ]:
r = ses.query(Employee).all()
for e in r:
  print(e)

Employee(name='Anitha', department='HR', salary=33000.0, joining_date='2025-01-15')
Employee(name='Cheran', department='Finance', salary=50000.0, joining_date='2019-11-14')
Employee(name='Guna', department='HR', salary=48000.0, joining_date='2021-06-15')
Employee(name='Sanjay', department='IT', salary=40000.0, joining_date='2020-01-15')

| Concept     | Example                     |
| ----------- | --------------------------- |
| Base Class  | `Base = declarative_base()` |
| Table Class | `class Employee(Base)`      |
| Session     | `sessionmaker()`            |
| Create      | `session.add()`             |
| Read        | `session.query()`           |
| Update      | Assign value & commit       |
| Delete      | `session.delete()`          |
| Aggregation | `func.avg()`, `group_by()`  |

# NoSQL

In [ ]:
# mongodb+srv://usshaa47:Microtech@cluster0.fx7qdem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.13.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.13.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 7.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 12.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.13.2

In [ ]:
from pymongo import MongoClient

client = MongoClient('mongodb+srv://usshaa47:Microtech@cluster0.fx7qdem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')

# create database
db = client['company']

# Create collection
employees = db['employees']

In [ ]:
# sql table -> collection
# record/row --> document

In [ ]:
e = {
    "name": "Renu",
    "department": "IT",
    "salary": 450000,
    "joining_date": "2025-01-15"
}

employees.insert_one(e)

InsertOneResult(ObjectId('6856d4f499b18638af21c941'), acknowledged=True)

In [ ]:
e2 = {
    "name": "Nithya",
    "department": "HR",
    "salary": 50000,
    "joining_date": "2020-01-15"
}
employees.insert_one(e2)

InsertOneResult(ObjectId('6856d5c899b18638af21c942'), acknowledged=True)

In [ ]:
employee_list = [
    {"name": "Praveen", "department": "IT", "salary": 60000, "joining_date": "2021-02-10"},
    {"name": "Arun", "department": "Finance", "salary": 55000, "joining_date": "2019-11-23"},
]
employees.insert_many(employee_list)

InsertManyResult([ObjectId('6856d5ea99b18638af21c943'), ObjectId('6856d5ea99b18638af21c944')], acknowledged=True)

In [ ]:
# Read all
for emp in employees.find():
    print(emp)

{'_id': ObjectId('6856d4f499b18638af21c941'), 'name': 'Renu', 'department': 'IT', 'salary': 450000, 'joining_date': '2025-01-15'}
{'_id': ObjectId('6856d5c899b18638af21c942'), 'name': 'Nithya', 'department': 'HR', 'salary': 50000, 'joining_date': '2020-01-15'}
{'_id': ObjectId('6856d5ea99b18638af21c943'), 'name': 'Praveen', 'department': 'IT', 'salary': 60000, 'joining_date': '2021-02-10'}
{'_id': ObjectId('6856d5ea99b18638af21c944'), 'name': 'Arun', 'department': 'Finance', 'salary': 55000, 'joining_date': '2019-11-23'}

In [ ]:
# Read with filter
for emp in employees.find({"department": "IT"}):
    print(emp)

{'_id': ObjectId('6856d4f499b18638af21c941'), 'name': 'Renu', 'department': 'IT', 'salary': 450000, 'joining_date': '2025-01-15'}
{'_id': ObjectId('6856d5ea99b18638af21c943'), 'name': 'Praveen', 'department': 'IT', 'salary': 60000, 'joining_date': '2021-02-10'}

In [ ]:
# Read one
emp = employees.find_one({"name": "Alice"})
print(emp)

None

In [ ]:
for emp in employees.find({}, {"_id": 0, "name": 1, "salary": 1}):
    print(emp)

{'name': 'Renu', 'salary': 450000}
{'name': 'Nithya', 'salary': 50000}
{'name': 'Praveen', 'salary': 60000}
{'name': 'Arun', 'salary': 55000}

In [ ]:
employees.update_one(
    {"name": "Arun"},
    {"$set": {"salary": 58000}}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000054'), 'opTime': {'ts': Timestamp(1750521748, 1), 't': 84}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1750521748, 1), 'signature': {'hash': b'\xde\xa5\xdb\x06\x98!\xad\x01\xaf\x98\xefd\x03\xf7\xac\xc1\x8c=\x1d7', 'keyId': 7491783060107558918}}, 'operationTime': Timestamp(1750521748, 1), 'updatedExisting': True}, acknowledged=True)

In [ ]:
# Update many
employees.update_many(
    {"department": "IT"},
    {"$inc": {"salary": 2000}}
)

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000054'), 'opTime': {'ts': Timestamp(1750521795, 2), 't': 84}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1750521795, 2), 'signature': {'hash': b'Qe|\xb4\x8c$H\x80\xca\x7f\xe28\xd7\x12\xe4x\xe49r\xc0', 'keyId': 7491783060107558918}}, 'operationTime': Timestamp(1750521795, 2), 'updatedExisting': True}, acknowledged=True)

In [ ]:
# Delete one
employees.delete_one({"name": "Bob"})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000054'), 'opTime': {'ts': Timestamp(1750521829, 1), 't': 84}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1750521829, 1), 'signature': {'hash': b'7\xf6\xc8\xce\xc0\xf9dq&\xf9\xfb>Fs)\xce#\xa0\x81\x0f', 'keyId': 7491783060107558918}}, 'operationTime': Timestamp(1750521829, 1)}, acknowledged=True)

In [ ]:
# Delete many
employees.delete_many({"salary": {"$lt": 55000}}) # < > <= >= lt, gt, lte gte

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000054'), 'opTime': {'ts': Timestamp(1750521899, 1), 't': 84}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1750521899, 1), 'signature': {'hash': b'\x03\xb9\xc8\xdf\x80\xed\x03.AM\x9d\xf5\xf1S\x18G\xcf8\x82\xac', 'keyId': 7491783060107558918}}, 'operationTime': Timestamp(1750521899, 1)}, acknowledged=True)

In [ ]:
# Filter & sort
for emp in employees.find({"salary": {"$gte": 55000}}).sort("salary", -1):
    print(emp)

{'_id': ObjectId('684f15655c4781c9476912ae'), 'name': 'Renu', 'department': 'IT', 'salary': 452000, 'joining_date': '2025-01-15'}
{'_id': ObjectId('6856b5b999b18638af21c93c'), 'name': 'Renu', 'department': 'IT', 'salary': 452000, 'joining_date': '2025-01-15'}
{'_id': ObjectId('6856b8ce99b18638af21c93e'), 'name': 'Praveen', 'department': 'IT', 'salary': 62000, 'joining_date': '2021-02-10'}
{'_id': ObjectId('6856b8ce99b18638af21c93f'), 'name': 'Arun', 'department': 'Finance', 'salary': 58000, 'joining_date': '2019-11-23'}

In [ ]:
# Limit
for emp in employees.find().limit(2):
    print(emp)

{'_id': ObjectId('684f15655c4781c9476912ae'), 'name': 'Renu', 'department': 'IT', 'salary': 452000, 'joining_date': '2025-01-15'}
{'_id': ObjectId('6856b5b999b18638af21c93c'), 'name': 'Renu', 'department': 'IT', 'salary': 452000, 'joining_date': '2025-01-15'}

In [ ]:
pipeline = [
    {"$group": {"_id": "$department", "avg_salary": {"$avg": "$salary"}}}
]
for result in employees.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'avg_salary': 322000.0}
{'_id': 'Finance', 'avg_salary': 58000.0}

| Task        | Code                             |
| ----------- | -------------------------------- |
| Insert One  | `insert_one(doc)`                |
| Insert Many | `insert_many([doc1, doc2])`      |
| Find        | `find()`, `find_one()`           |
| Filter      | `find({"key": value})`           |
| Update      | `update_one()`, `update_many()`  |
| Delete      | `delete_one()`, `delete_many()`  |
| Sort        | `.sort("key", 1 or -1)`          |
| Limit       | `.limit(n)`                      |
| Aggregation | `collection.aggregate(pipeline)` |

In [ ]:
# DESC ASC
# TOP
# limit