## ✅ **Exercise 1: Data Cleaning Utility with Functions**

### **Scenario**: As a data analyst, you're cleaning a CSV file with inconsistent user data.

### **Tasks**:

1. **Define a function** `clean_name(name)` that:

   * Removes extra spaces
   * Capitalizes first letters (e.g., `"  john doe "` → `"John Doe"`)

In [ ]:
def clean_name(name):
    # Remove extra spaces and capitalize each word
    cleaned = name.strip().title()
    return cleaned

# Example usage
print(clean_name("  john doe "))  # Output: John Doe

John Doe

2. Use **`map()`** to clean a list of names:
   `["  alice ", "BOB", "   Charlie brown "]`

In [ ]:
names = ["  alice ", "BOB", "   Charlie brown "]
cleaned_names = list(map(clean_name, names))
print(cleaned_names)

['Alice', 'Bob', 'Charlie Brown']

3. Write a **lambda function** to check if cleaned names are longer than 5 characters. Use **`filter()`** to return only those names.

In [ ]:
long_names = list(filter(lambda n: len(n) > 5, cleaned_names))
print(long_names)

['Charlie Brown']

## ✅ **Exercise 2: Sales Data Summary Using Lambda, Map, and Reduce**

### **Scenario**: You are working with weekly sales data for a retail client.

### **Tasks**:

1. You have a list:
   `sales = [1200, 1500, 800, 950, 1000, 1100, 900]`
   Use **`map()`** with a **lambda** to convert this to profit by applying a 10% margin.

In [ ]:
sales = [1200, 1500, 800, 950, 1000, 1100, 900]

In [ ]:
profits = list(map(lambda x: x * 0.10, sales))
print("Profits:", profits)

Profits: [120.0, 150.0, 80.0, 95.0, 100.0, 110.0, 90.0]

2. Use **`filter()`** with a lambda to extract sales greater than or equal to 1000.

In [ ]:
big_sales = list(filter(lambda x: x >= 1000, sales))
print("Big sales:", big_sales)

Big sales: [1200, 1500, 1000, 1100]

3. Use **`reduce()`** from `functools` to calculate total profit.

In [ ]:
from functools import reduce
total_profit = reduce(lambda x, y: x + y, profits)
print("Total profit:", total_profit)

Total profit: 745.0

## ✅ **Exercise 3: Customer Profile Class Builder**

### **Scenario**: You're building a customer segmentation tool using OOP.

### **Tasks**:

1. Define a class `Customer` with attributes: `name`, `age`, and `spending`.

In [ ]:
class Customer:
    def __init__(self, name, age, spending):
        self.name = name
        self.age = age
        self.spending = spending

    def is_high_value(self):
        return self.spending > 5000

2. Create a **constructor (`__init__`)** that initializes these values.

In [ ]:
# Create customers
cust1 = Customer("Alice", 30, 6000)
cust2 = Customer("Bob", 22, 4500)
cust3 = Customer("Charlie", 40, 7000)

3. Add a method `is_high_value()` that returns `True` if spending is above 5000.
   Create 3 customer objects and test this method.

In [ ]:
print(cust1.name, "High Value:", cust1.is_high_value())
print(cust2.name, "High Value:", cust2.is_high_value())
print(cust3.name, "High Value:", cust3.is_high_value())

Alice High Value: True
Bob High Value: False
Charlie High Value: True

## ✅ **Exercise 4: Inherited Analytics Report Generator**

### **Scenario**: You are developing a reporting module that summarizes sales and customer behavior.

### **Tasks**:

1. Define a base class `Report` with a method `generate_summary()` that prints a generic message.

In [ ]:
class Report:
    def generate_summary(self):
        print("Generating a generic report summary.")

2. Create a child class `SalesReport` that inherits from `Report`, and overrides `generate_summary()` to show:

   * Total sales
   * Average sales per customer

In [ ]:
class SalesReport(Report):
    def __init__(self, sales):
        self.sales = sales

    def generate_summary(self):
        total_sales = sum(self.sales)
        avg_sales = total_sales / len(self.sales)
        print(f"Total Sales: {total_sales}")
        print(f"Average Sales per Customer: {avg_sales:.2f}")

3. Instantiate the class with sample data like:
   `sales = [1200, 1000, 800, 1300]`, and generate the summary.

In [ ]:
# Sample data
sales_data = [1200, 1000, 800, 1300]

report = SalesReport(sales_data)
report.generate_summary()

Total Sales: 4300
Average Sales per Customer: 1075.00

## **Exercise 5: Employee Performance Filter**

### **Scenario**: You’re filtering employee records to find top performers for a bonus.

### **Tasks**:

1. Create a `Employee` class with attributes: `name`, `department`, and `performance_score` (0-100).

In [ ]:
class Employee:
    def __init__(self, name, department, performance_score):
        self.name = name
        self.department = department
        self.performance_score = performance_score

    def top_performers(self, threshold):
        return self.performance_score > threshold

2. Using **list comprehension**, get a list of all employees in the "Sales" department with a performance score above 85.

In [ ]:
# Sample employee list
employees = [
    Employee("Alice", "Sales", 92),
    Employee("Bob", "Sales", 80),
    Employee("Charlie", "HR", 88),
    Employee("David", "Sales", 87),
    Employee("Eve", "IT", 95),
]

In [ ]:
high_performers = [e.name for e in employees if e.department == "Sales" and e.performance_score > 85]
print("High Performers in Sales:", high_performers)

High Performers in Sales: ['Alice', 'David']

3. Add a regular method `top_performers(self, threshold)` (not classmethod) that returns `True` if an employee’s `performance_score` is above `threshold`. Use this method in a loop to print names of employees qualifying as top performers with threshold 90.

In [ ]:
print("Top Performers with score > 90:")
for emp in employees:
    if emp.top_performers(90):
        print(emp.name)

Top Performers with score > 90:
Alice
Eve