# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [1]:
import numpy as np
import pandas as pd

In [35]:
df = pd.DataFrame({'A':[1,2,7,3],
                  'B':[5,np.nan,np.nan,4],
                  'C':[1,2,3,np.nan],
                  'D':[7,np.nan,np.nan,3]})

In [36]:
df

   A    B    C    D
0  1  5.0  1.0  7.0
1  2  NaN  2.0  NaN
2  7  NaN  3.0  NaN
3  3  4.0  NaN  3.0

In [37]:
df.dropna()

   A    B    C    D
0  1  5.0  1.0  7.0

In [39]:
df.dropna(axis=1)

   A
0  1
1  2
2  7
3  3

In [40]:
df

   A    B    C    D
0  1  5.0  1.0  7.0
1  2  NaN  2.0  NaN
2  7  NaN  3.0  NaN
3  3  4.0  NaN  3.0

In [45]:
df.dropna(axis=1,thresh=3) # A,B,C --> 1

   A    C
0  1  1.0
1  2  2.0
2  7  3.0
3  3  NaN

In [46]:
df.fillna(value='Hello',inplace=False)

   A      B      C      D
0  1    5.0    1.0    7.0
1  2  Hello    2.0  Hello
2  7  Hello    3.0  Hello
3  3    4.0  Hello    3.0

In [47]:
df

   A    B    C    D
0  1  5.0  1.0  7.0
1  2  NaN  2.0  NaN
2  7  NaN  3.0  NaN
3  3  4.0  NaN  3.0

In [57]:
df.fillna(value=df.loc[[0,1,2,3]].mean())
# df[['A','B','C','D']].mean()
# df.loc[[0,1,2,3]].mean()
df.fillna(value=df.loc[[0,1,2,3]].median())
df[['A','B','C','D']].median()

A    2.5
B    4.5
C    2.0
D    5.0
dtype: float64

# Great Job!