## NumPy Indexing and Selection Practice Notebook

This notebook focuses on practicing your NumPy indexing and selection techniques through various exercises. Feel free to run each code cell and explore the results!

**Import libraries:**

**1. Creating Arrays:**

* **a) Create a 4x4 array filled with the numbers from 1 to 16 in row-major order.**

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

```[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]```

* **b) Create a 3x3 array filled with random integers between 10 and 20 (inclusive).**

[[15 11 12]
 [10 18 19]
 [11 13 13]]

```[[15 11 12]
 [10 18 19]
 [11 13 13]]```

**2. Basic Indexing:**

* **a) Access the element at the third row and second column of the array `arr1` created in exercise 1a.**

10

10

* **b) Print the elements in the first row of the array `arr2` created in exercise 1b.**

[15 11 12]

[15 11 12]

* **c) Print the diagonal elements of the array `arr1`.**

[ 1  6 11 16]

[ 1  6 11 16]

**3. Boolean Indexing:**

* **a) Create a boolean mask for the array `arr2` where the elements are greater than 15.**

[[False False False]
 [False  True  True]
 [False False False]]

```[[False False False]
 [False  True  True]
 [False False False]]```

* **b) Use the mask created in exercise 3a to select the corresponding elements from the array `arr2`.**

[18 19]

[18 19]

* **c) Select the even-numbered elements from the array `arr1`.**

[ 2  4  6  8 10 12 14 16]

[ 2  4  6  8 10 12 14 16]

**4. Advanced Indexing:**

* **a) Swap the first and third rows of the array `arr1`.**

[[ 9 10 11 12]
 [ 5  6  7  8]
 [ 1  2  3  4]
 [13 14 15 16]]

```[[ 9 10 11 12]
 [ 5  6  7  8]
 [ 1  2  3  4]
 [13 14 15 16]]```

* **b) Select a sub-array containing the elements from the second row and the second and third columns of the array `arr2`.**

[18 19]

[18 19]

* **c) Flatten the array `arr1` into a one-dimensional array.**

[ 9 10 11 12  5  6  7  8  1  2  3  4 13 14 15 16]

[ 9 10 11 12  5  6  7  8  1  2  3  4 13 14 15 16]